/* temp example */

/* Example: gameSection.css */
.game-section {
  display: flex;
  flex-direction: row;
  background: #111;
  height: 80vh;
  position: relative;
}

.game-section__hud {
  width: 240px;
  background: #222;
}

.game-section__field {
  flex-grow: 1;
  overflow: auto;
}
